<h1 class="grey-copy">Rosemarie Halim</h1>

<p class="grey-copy">
    Hiya. I forgot to write stuff about myself in this paragraph, it is quite delayed but here it is. A couple things about me are: I like this class a lot (good news to me too) and I like to travel alot which has practically become a yearly thing. I started traveling to visit my way too many siblings, but at this point it has become a veeery expensive hobby. I chose to go into this course because it's a career where I can create and allow myself to think outside the box. It is somewhat like puzzels and problem solving but artistically. Fun fact: I actually like mathematics and sciences, they just don't like me.
</p>