<figure>
    
    <img src="img/rose.jpg" alt="Photo of Me next to a mural." width="200px">

    <figcaption><b>Stand up and Stand Out</b></figcaption>

    <ul>
        <li><a href="https://www.instagram.com/bubblewrappedkid/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/rosemarie.halim"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://github.com/RosemarieHalim"><i class="fab fa-github"></i></a></li>
    </ul>

    </figure>
    
    <ul class="nav">
        <li><a href="https://fonts.google.com">Google Fonts</a></li>
        <li><a href="https://fontawesome.com">Awesome Fonts</a></li>
    </ul>